<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">AVLA PERU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
          aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">
          <ul class="navbar-nav flex-grow">
            <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link text-dark" [routerLink]="['/list']" translate>nav.siniestro</a>
            </li>
            <div class="dropdown ms-3">
                <button class="btn btn-bd-light dropdown-toggle" id="bd-versions" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
                  <span class="d-none d-lg-inline" translate>nav.pais</span> 
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-versions">
                  <li><a class="dropdown-item current" aria-current="true"(click)="changeLang('es')" translate>nav.peru</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item current" aria-current="true" (click)="changeLang('en')">EEUU</a></li>
                </ul>
              </div>
          </ul>
        </div>
      </div>
    </nav>
  </header>